// set the basic colors here
$bg-light: darken(white, 10) ;
$bg-dark: lighten(black, 10);
$primary: purple;
$secondary: blue;

// do not change anything below here

@function setTextColor($bgColor){
    @if lightness($bgColor) > 40 {
        @return black;
    }
    @else{
        @return white
    }
}


$text-light: setTextColor($bg-light);
$text-dark: setTextColor($bg-dark);
$tertiary: mix($primary, $secondary);
$complimentary: complement($primary) ;


$primary-light: lighten($primary, 20 );
$primary-lighter: lighten($primary, 30 );
$primary-lightest: lighten($primary, 40 );
$primary-dark: darken($primary, 20 );
$primary-darker: darken($primary, 30 );
$primary-darkest: darken($primary, 40 );

$secondary-light: lighten($secondary, 20 );
$secondary-lighter: lighten($secondary, 30 );
$secondary-dark: darken($secondary, 20 );
$secondary-darker: darken($secondary, 30 );

